In [1]:
import pandas as pd
import os

In [2]:
pd.__version__

'1.4.4'

In [11]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"
csv_name = "output.csv.gz"

In [12]:
os.system(f"wget {url} -O {csv_name}")

--2023-01-29 18:16:02--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230129T181435Z&X-Amz-Expires=300&X-Amz-Signature=7cb87f9f430ec2c2de28351d96a33c63d9dbd9be95858a15f9b63c42c52d8561&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-29 18:16:02--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230129T181435Z&X-Amz-Expires=300&X-Amz-Signature=7cb87f9f430ec2c2de28351d96a33c63d9dbd9be95858a15f9b63c42c52d8561&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘output.csv.gz’

     0K .......... .......... .......... .......... ..........  0% 9.62M 1s
    50K .......... .......... .......... .......... ..........  0%  676K 8s
   100K .......... .......... .......... .......... ..........  1% 10.4M 6s
   150K .......... .......... .......... .......... ..........  1%  669K 8s
   200K .......... .......... .......... .......... ..........  2%  128M 7s
   250K .......... .......... .......... .......... ..........  2%  141M 6s
   300K .......... .......... .......... .......... ..........  3%  610K 7s
   350K .......... .......... .......... .......... ..........  3% 70.8M 6s
   400K .......... .......... .......... .......... ..........  4%  106M 6s
   450K .......... .......... .......... .......... ..........  4% 81.7M 5s
   500K .......... .......... .......... .......... ..........  5%  582K 6s
   550K .......... .......... .......... .......... ..........  5% 70.0M 6s
   600K .......... .......... .......... .......... ..........  5% 81.8M 5s
   650K .......... .......... .......... .......... ..........  6% 87.8M 5s
   700K .......... .......... .......... .......... ..........  6%  115M 4s
   750K .......... .......... .......... .......... ..........  7%  772K 5s
   800K .......... .......... .......... .......... ..........  7% 49.6M 5s
   850K .......... .......... .......... .......... ..........  8% 35.9M 4s
   900K .......... .......... .......... .......... ..........  8% 46.0M 4s
   950K .......... .......... .......... .......... ..........  9% 42.5M 4s
  1000K .......... .......... .......... .......... ..........  9% 32.9M 4s
  1050K .......... .......... .......... .......... .......... 10%  116M 4s
  1100K .......... .......... .......... .......... .......... 10%  166M 3s
  1150K .......... .......... .......... .......... .......... 11%  112M 3s
  1200K .......... .......... .......... .......... .......... 11%  623K 4s
  1250K .......... .......... .......... .......... .......... 11% 63.8M 4s
  1300K .......... .......... .......... .......... .......... 12% 97.1M 3s
  1350K .......... .......... .......... .......... .......... 12% 76.8M 3s
  1400K .......... .......... .......... .......... .......... 13%  117M 3s
  1450K .......... .......... .......... .......... .......... 13%  136M 3s
  1500K .......... .......... .......... .......... .......... 14%  133M 3s
  1550K .......... .......... .......... .......... .......... 14% 96.4M 3s
  1600K .......... .......... .......... .......... .......... 15%  124M 3s
  1650K .......... .......... .......... .......... .......... 15%  133M 3s
  1700K .......... .......... .......... .......... .......... 16%  122M 3s
  1750K .......... .......... .......... .......... .......... 16%  126M 2s
  1800K .......... .......... .......... .......... .......... 17%  110M 2s
  1850K .......... .......... .......... .......... .......... 17%  759K 3s
  1900K .......... .......... .......... .......... .......... 17% 81.9M 3s
  1950K .......... .......... .......... .......... .......... 18%  105M 2s
  2000K .......... .......... .......... .......... .......... 18% 97.6M 2s
  2050K .......... .......... .......... .......... .......... 19% 84.1M 2s
  2100K .......... .......... .......... .......... .......... 19% 73.9M 2s
  2150K .......... .......... .......... .......... .......... 20% 85.1M 2s
  2200K .......... .......... .......... .......... .......... 20%  126M 2s
  2250K .......... .......... .......... .......... .......... 21%  117M 2s
  2300K .......... .......... .......... .......... .......... 21%  132M 2s
  2350K .......... .......... .......... .......... .......... 22%  115M 2s
  2400K .......... .......... .......... .......... .......... 22%  131M 2s
  2450K .......... .......... .......... .......... .......... 23%  132M 2s
  2500K .......... .......... .......... .......... .......... 23%  128M 2s
  2550K .......... .......... .......... .......... .......... 23%  115M 2s
  2600K .......... .......... .......... .......... .......... 24%  133M 2s
  2650K .......... .......... .......... .......... .......... 24%  132M 2s
  2700K .......... .......... .......... .......... .......... 25%  131M 2s
  2750K .......... .......... .......... .......... .......... 25%  689K 2s
  2800K .......... .......... .......... .......... .......... 26%  113M 2s
  2850K .......... .......... .......... .......... .......... 26% 72.3M 2s
  2900K .......... .......... .......... .......... .......... 27% 86.6M 2s
  2950K .......... .......... .......... .......... .......... 27%  108M 2s
  3000K .......... .......... .......... .......... .......... 28%  136M 2s
  3050K .......... .......... .......... .......... .......... 28%  137M 2s
  3100K .......... .......... .......... .......... .......... 29% 99.8M 2s
  3150K .......... .......... .......... .......... .......... 29%  129M 2s
  3200K .......... .......... .......... .......... .......... 29% 64.2M 1s
  3250K .......... .......... .......... .......... .......... 30%  120M 1s
  3300K .......... .......... .......... .......... .......... 30%  131M 1s
  3350K .......... .......... .......... .......... .......... 31%  122M 1s
  3400K .......... .......... .......... .......... .......... 31%  119M 1s
  3450K .......... .......... .......... .......... .......... 32%  134M 1s
  3500K .......... .......... .......... .......... .......... 32%  130M 1s
  3550K .......... .......... .......... .......... .......... 33%  114M 1s
  3600K .......... .......... .......... .......... .......... 33%  128M 1s
  3650K .......... .......... .......... .......... .......... 34%  126M 1s
  3700K .......... .......... .......... .......... .......... 34%  126M 1s
  3750K .......... .......... .......... .......... .......... 35%  109M 1s
  3800K .......... .......... .......... .......... .......... 35%  128M 1s
  3850K .......... .......... .......... .......... .......... 35%  141M 1s
  3900K .......... .......... .......... .......... .......... 36%  138M 1s
  3950K .......... .......... .......... .......... .......... 36%  729K 1s
  4000K .......... .......... .......... .......... .......... 37%  148M 1s
  4050K .......... .......... .......... .......... .......... 37%  538K 1s
  4100K .......... .......... .......... .......... .......... 38% 91.8M 1s
  4150K .......... .......... .......... .......... .......... 38% 82.8M 1s
  4200K .......... .......... .......... .......... .......... 39% 77.6M 1s
  4250K .......... .......... .......... .......... .......... 39%  104M 1s
  4300K .......... .......... .......... .......... .......... 40% 74.0M 1s
  4350K .......... .......... .......... .......... .......... 40%  106M 1s
  4400K .......... .......... .......... .......... .......... 41% 85.3M 1s
  4450K .......... .......... .......... .......... .......... 41% 90.0M 1s
  4500K .......... .......... .......... .......... .......... 41%  113M 1s
  4550K .......... .......... .......... .......... .......... 42%  131M 1s
  4600K .......... .......... .......... .......... .......... 42%  113M 1s
  4650K .......... .......... .......... .......... .......... 43%  132M 1s
  4700K .......... .......... .......... .......... .......... 43%  134M 1s
  4750K .......... .......... .......... .......... .......... 44%  127M 1s
  4800K .......... .......... .......... .......... .......... 44%  116M 1s
  4850K .......... .......... .......... .......... .......... 45%  141M 1s
  4900K .......... .......... .......... .......... .......... 45%  117M 1s
  4950K .......... .......... .......... .......... .......... 46%  133M 1s
  5000K .......... .......... .......... .......... .......... 46% 99.8M 1s
  5050K .......... .......... .......... .......... .......... 47%  131M 1s
  5100K .......... .......... .......... .......... .......... 47%  131M 1s
  5150K .......... .......... .......... .......... .......... 47%  127M 1s
  5200K .......... .......... .......... .......... .......... 48%  113M 1s
  5250K .......... .......... .......... .......... .......... 48%  126M 1s
  5300K .......... .......... .......... .......... .......... 49%  131M 1s
  5350K .......... .......... .......... .......... .......... 49%  124M 1s
  5400K .......... .......... .......... .......... .......... 50%  107M 1s
  5450K .......... .......... .......... .......... .......... 50%  136M 1s
  5500K .......... .......... .......... .......... .......... 51%  132M 1s
  5550K .......... .......... .......... .......... .......... 51%  136M 1s
  5600K .......... .......... .......... .......... .......... 52%  121M 1s
  5650K .......... .......... .......... .......... .......... 52%  129M 1s
  5700K .......... .......... .......... .......... .......... 53%  130M 1s
  5750K .......... .......... .......... .......... .......... 53%  825K 1s
  5800K .......... .......... .......... .......... .......... 53% 77.6M 1s
  5850K .......... .......... .......... .......... .......... 54% 74.0M 1s
  5900K .......... .......... .......... .......... .......... 54%  120M 1s
  5950K .......... .......... .......... .......... .......... 55% 70.0M 1s
  6000K .......... .......... .......... .......... .......... 55% 53.0M 1s
  6050K .......... .......... .......... .......... .......... 56%  112M 1s
  6100K .......... .......... .......... .......... .......... 56%  116M 1s
  6150K .......... .......... .......... .......... .......... 57%  105M 1s
  6200K .......... .......... .......... .......... .......... 57%  105M 1s
  6250K .......... .......... .......... .......... .......... 58%  150M 1s
  6300K .......... .......... .......... .......... .......... 58% 84.1M 1s
  6350K .......... .......... .......... .......... .......... 59%  214M 1s
  6400K .......... .......... .......... .......... .......... 59%  186M 1s
  6450K .......... .......... .......... .......... .......... 59%  133M 1s
  6500K .......... .......... .......... .......... .......... 60%  148M 1s
  6550K .......... .......... .......... .......... .......... 60%  198M 1s
  6600K .......... .......... .......... .......... .......... 61%  206M 1s
  6650K .......... .......... .......... .......... .......... 61%  182M 1s
  6700K .......... .......... .......... .......... .......... 62%  153M 1s
  6750K .......... .......... .......... .......... .......... 62% 93.4M 1s
  6800K .......... .......... .......... .......... .......... 63% 79.5M 1s
  6850K .......... .......... .......... .......... .......... 63%  121M 1s
  6900K .......... .......... .......... .......... .......... 64%  123M 0s
  6950K .......... .......... .......... .......... .......... 64%  126M 0s
  7000K .......... .......... .......... .......... .......... 65%  110M 0s
  7050K .......... .......... .......... .......... .......... 65%  121M 0s
  7100K .......... .......... .......... .......... .......... 65%  139M 0s
  7150K .......... .......... .......... .......... .......... 66%  112M 0s
  7200K .......... .......... .......... .......... .......... 66%  110M 0s
  7250K .......... .......... .......... .......... .......... 67%  127M 0s
  7300K .......... .......... .......... .......... .......... 67%  124M 0s
  7350K .......... .......... .......... .......... .......... 68%  126M 0s
  7400K .......... .......... .......... .......... .......... 68%  118M 0s
  7450K .......... .......... .......... .......... .......... 69%  122M 0s
  7500K .......... .......... .......... .......... .......... 69%  138M 0s
  7550K .......... .......... .......... .......... .......... 70%  123M 0s
  7600K .......... .......... .......... .......... .......... 70%  129M 0s
  7650K .......... .......... .......... .......... .......... 71%  147M 0s
  7700K .......... .......... .......... .......... .......... 71%  122M 0s
  7750K .......... .......... .......... .......... .......... 71%  118M 0s
  7800K .......... .......... .......... .......... .......... 72%  114M 0s
  7850K .......... .......... .......... .......... .......... 72%  126M 0s

  7900K .......... .......... .......... .......... .......... 73%  802K 0s
  7950K .......... .......... .......... .......... .......... 73% 74.3M 0s
  8000K .......... .......... .......... .......... .......... 74%  117M 0s
  8050K .......... .......... .......... .......... .......... 74%  137M 0s
  8100K .......... .......... .......... .......... .......... 75%  148M 0s
  8150K .......... .......... .......... .......... .......... 75%  569K 0s
  8200K .......... .......... .......... .......... .......... 76% 48.0M 0s
  8250K .......... .......... .......... .......... .......... 76% 59.5M 0s
  8300K .......... .......... .......... .......... .......... 77%  149M 0s
  8350K .......... .......... .......... .......... .......... 77%  136M 0s
  8400K .......... .......... .......... .......... .......... 77% 92.1M 0s
  8450K .......... .......... .......... .......... .......... 78%  138M 0s
  8500K .......... .......... .......... .......... .......... 78%  111M 0s
  8550K .......... .......... .......... .......... .......... 79% 89.3M 0s
  8600K .......... .......... .......... .......... .......... 79%  107M 0s
  8650K .......... .......... .......... .......... .......... 80%  119M 0s
  8700K .......... .......... .......... .......... .......... 80% 53.3M 0s
  8750K .......... .......... .......... .......... .......... 81%  135M 0s
  8800K .......... .......... .......... .......... .......... 81% 65.0M 0s
  8850K .......... .......... .......... .......... .......... 82% 94.0M 0s
  8900K .......... .......... .......... .......... .......... 82% 59.2M 0s
  8950K .......... .......... .......... .......... .......... 83%  104M 0s
  9000K .......... .......... .......... .......... .......... 83%  133M 0s
  9050K .......... .......... .......... .......... .......... 83%  142M 0s
  9100K .......... .......... .......... .......... .......... 84%  140M 0s
  9150K .......... .......... .......... .......... .......... 84%  141M 0s
  9200K .......... .......... .......... .......... .......... 85%  115M 0s
  9250K .......... .......... .......... .......... .......... 85%  132M 0s
  9300K .......... .......... .......... .......... .......... 86%  136M 0s
  9350K .......... .......... .......... .......... .......... 86%  119M 0s
  9400K .......... .......... .......... .......... .......... 87%  115M 0s
  9450K .......... .......... .......... .......... .......... 87%  137M 0s
  9500K .......... .......... .......... .......... .......... 88%  147M 0s
  9550K .......... .......... .......... .......... .......... 88%  138M 0s
  9600K .......... .......... .......... .......... .......... 89%  122M 0s
  9650K .......... .......... .......... .......... .......... 89%  154M 0s
  9700K .......... .......... .......... .......... .......... 89%  151M 0s
  9750K .......... .......... .......... .......... .......... 90%  148M 0s
  9800K .......... .......... .......... .......... .......... 90%  123M 0s
  9850K .......... .......... .......... .......... .......... 91%  116M 0s
  9900K .......... .......... .......... .......... .......... 91%  114M 0s
  9950K .......... .......... .......... .......... .......... 92%  135M 0s
 10000K .......... .......... .......... .......... .......... 92%  101M 0s
 10050K .......... .......... .......... .......... .......... 93%  130M 0s
 10100K .......... .......... .......... .......... .......... 93%  140M 0s
 10150K .......... .......... .......... .......... .......... 94%  151M 0s
 10200K .......... .......... .......... .......... .......... 94%  128M 0s
 10250K .......... .......... .......... .......... .......... 95%  144M 0s
 10300K .......... .......... .......... .......... .......... 95%  147M 0s
 10350K .......... .......... .......... .......... .......... 95%  140M 0s
 10400K .......... .......... .......... .......... .......... 96%  113M 0s
 10450K .......... .......... .......... .......... .......... 96%  149M 0s
 10500K .......... .......... .......... .......... .......... 97%  133M 0s
 10550K .......... .......... .......... .......... .......... 97%  140M 0s
 10600K .......... .......... .......... .......... .......... 98%  132M 0s
 10650K .......... .......... .......... .......... .......... 98%  143M 0s
 10700K .......... .......... .......... .......... .......... 99%  145M 0s
 10750K .......... .......... .......... .......... .......... 99%  153M 0s
 10800K .......... .......... .......... .........            100%  124M=1.1s

2023-01-29 18:16:03 (9.86 MB/s) - ‘output.csv.gz’ saved [11099245/11099245]

0

In [13]:
df = pd.read_csv('output.csv.gz', nrows=100)

In [14]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1,1,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2,1,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1,1,NaN

In [17]:
if not df.lpep_pickup_datetime:
    print('lol')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [7]:
#We want to add this data to postgresql

In [11]:
#first generate schema
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [12]:
# we need to tell to pandas this in order to generate a statement in postrgres
# but first we need to enstablish a conncection

In [17]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [24]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [25]:
df = next(df_iter)

In [27]:
len(df)

100000

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [32]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

0

In [33]:
%time df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')

CPU times: user 4.3 s, sys: 147 ms, total: 4.44 s
Wall time: 9.4 s

1000

In [35]:
from time import time

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserting another chunk..., took %.3f seconds' %(t_end-t_start))

inserting another chunk..., took 9.267 seconds
inserting another chunk..., took 9.210 seconds
inserting another chunk..., took 9.202 seconds
inserting another chunk..., took 9.172 seconds
inserting another chunk..., took 9.383 seconds
inserting another chunk..., took 9.038 seconds
inserting another chunk..., took 9.335 seconds
inserting another chunk..., took 9.379 seconds
inserting another chunk..., took 9.133 seconds
inserting another chunk..., took 9.339 seconds