In [2]:
#import libraries
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

Answer1:

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()
#object for interacting with spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/05 17:18:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark.version

'3.3.2'

Answer2:

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-05 17:21:06--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T172106Z&X-Amz-Expires=300&X-Amz-Signature=f8634f06133dd361af9e2cfc7b521f34608c817252addbbaccd534e1b1c5b2dc&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-05 17:21:06--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T172106Z&X-Amz-Expires=300&X-Amz-Signature=f8634f06133dd361af9e2cfc7b521f34608c817252addbbaccd534e1b1c5b2dc&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  16.1MB/s    in 12s

2023-03-05 17:21:19 (13.9 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [8]:
!gunzip -v fhvhv_tripdata_2021-06.csv.gz

fhvhv_tripdata_2021-06.csv.gz:	 80.9% -- replaced with fhvhv_tripdata_2021-06.csv

In [9]:
!ls

04_spark.ipynb	      Untitled.ipynb	fhvhv_tripdata_2021-01.csv  zones
05_taxi_schema.ipynb  data		fhvhv_tripdata_2021-06.csv
06_spark_sql.ipynb    download_data.sh	head.csv
Homework.ipynb	      fhvhv		taxi+_zone_lookup.csv

In [15]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv')

In [16]:
df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 5 rows

In [21]:
from pyspark.sql import types

In [22]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
   types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True), ])

In [23]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

df.show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 5 rows

In [24]:
df = df.repartition(12)

In [25]:
df.write.parquet('fhvhv/2021/06/')

In [26]:
ls

04_spark.ipynb        Untitled.ipynb     fhvhv_tripdata_2021-01.csv  zones/
05_taxi_schema.ipynb  data/              fhvhv_tripdata_2021-06.csv
06_spark_sql.ipynb    download_data.sh*  head.csv
Homework.ipynb        fhvhv/             taxi+_zone_lookup.csv

In [27]:
#this command on fhvhv file 06/
#ls -l --block-size=M

In [28]:
# AROUND 23 MB each

Answer  3:

In [30]:
df = spark.read.parquet('fhvhv/2021/06/')

In [31]:
df.show(10)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02617|2021-06-04 16:50:34|2021-06-04 17:01:18|         118|         109|      N|                B02617|
|              B02875|2021-06-02 22:28:45|2021-06-02 22:37:28|         163|          79|      N|                B02875|
|              B02871|2021-06-03 11:47:48|2021-06-03 11:52:23|         231|          13|      N|                B02871|
|              B02888|2021-06-03 08:45:25|2021-06-03 09:00:12|           9|          92|      N|                B02888|
|              B02510|2021-06-05 09:50:43|2021-06-05 10:06:53|          14|         133|      N|                  null|
|              B02764|2021-06-03 22:55:50|2021-06-03 23:21:24|         152|          74|      N|                B02764|
|              B02889|2021-06-02 03:15:48|2021-06-02 03:26:20|         220|         235|      N|                B02889|
|              B02872|2021-06-01 11:50:42|2021-06-01 12:00:36|         162|         161|      N|                B02872|
|              B02510|2021-06-04 06:51:45|2021-06-04 06:56:26|         206|         206|      N|                  null|
|              B02835|2021-06-02 01:21:31|2021-06-02 01:50:23|          49|         182|      N|                B02835|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 10 rows

In [33]:
from pyspark.sql import functions as F

In [ ]:
F

In [34]:
df_date = df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('pickup_date', 'dropoff_date','PULocationID','PULocationID')

In [35]:
df_date.registerTempTable('date_trips')

/home/antonis_hotmail/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [36]:
df_result = spark.sql("""
SELECT COUNT(*) FROM date_trips
WHERE pickup_date='2021-06-15'
""")

In [37]:
df_result.show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

Answer 4:

In [76]:
def trip_duration_hours(pickup_datetime_hours,dropoff_datetime_hours):
    if pickup_datetime_hours is not None and dropoff_datetime_hours is not None:
        return (dropoff_datetime_hours - pickup_datetime_hours)
    else:
        return None

In [77]:
trip_duration_hours_udf = F.udf(trip_duration_hours, returnType=types.DoubleType())

In [78]:
df.withColumn('trip_duration', trip_duration_hours_udf(F.unix_timestamp(df.pickup_datetime).cast("double")/3600,F.unix_timestamp(df.dropoff_datetime).cast("double")/3600)).select('trip_duration').orderBy("trip_duration", ascending=False).show(5)

+------------------+
|     trip_duration|
+------------------+
| 66.87888888886664|
|25.549722222262062|
|19.980833333334886|
| 18.19722222222481|
|16.466944444400724|
+------------------+
only showing top 5 rows

Answer 6:

In [79]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [80]:
df_zones.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [81]:
df_zones.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [82]:
schema_zone = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),  
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True) ])

In [83]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(schema_zone) \
    .csv('taxi+_zone_lookup.csv')

In [84]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [86]:
df_date.registerTempTable('date_trips')

In [88]:
df_date.show(3)

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|PULocationID|
+-----------+------------+------------+------------+
| 2021-06-04|  2021-06-04|         118|         118|
| 2021-06-02|  2021-06-02|         163|         163|
| 2021-06-03|  2021-06-03|         231|         231|
+-----------+------------+------------+------------+
only showing top 3 rows

In [87]:
df_zones.registerTempTable('zone_trips')

In [89]:
df_zones.show(3)

+----------+-------+--------------------+------------+
|LocationID|Borough|                Zone|service_zone|
+----------+-------+--------------------+------------+
|         1|    EWR|      Newark Airport|         EWR|
|         2| Queens|         Jamaica Bay|   Boro Zone|
|         3|  Bronx|Allerton/Pelham G...|   Boro Zone|
+----------+-------+--------------------+------------+
only showing top 3 rows

In [96]:
df_result = spark.sql("""
SELECT zone_trips.Zone,count(1) as lol FROM date_trips
LEFT JOIN zone_trips ON date_trips.PULocationID = zone_trips.LocationID
GROUP BY zone_trips.Zone
ORDER BY lol DESC


""").show(10)

+--------------------+------+
|                Zone|   lol|
+--------------------+------+
| Crown Heights North|231279|
|        East Village|221244|
|         JFK Airport|188867|
|      Bushwick South|187929|
|       East New York|186780|
|TriBeCa/Civic Center|164344|
|   LaGuardia Airport|161596|
|            Union Sq|158937|
|        West Village|154698|
|             Astoria|152493|
+--------------------+------+
only showing top 10 rows